@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-color: #0077b6;
  --secondary-color: #00b4d8;
  --text-color: #ffffff;
  --link-color: #a8a140;
  --social-media-link-color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--text-color);
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
}

h1 {
  position: absolute;
  color: var(--primary-color);
}

a {
  color: var(--link-color);
}

.social-media-link {
  color: var(--social-media-link-color);
  text-decoration: none;
}

.social-media-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
}

.hero {
  position: relative;
  max-width: 700px;
  left: 20%;
}

.hero h1 {
  position: relative;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 36px;
}

.hero article {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-40%);
  background-color: #07385ef4;
  padding: 10px;
}

.hero img {
  float: right;
  margin-left: 20px;
}

nav a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  font-size: 21px;
  font-weight: normal;
  padding: 1rem;
  display: flex;
}
nav a:hover {
  color: #4c9bd7;
}

#history {
  position: relative;
  display: block;
  width: 1000px;
  margin: 20px auto;
  margin-top: 3%;
  border: 5px solid #7ab7d11d;
  padding: 10px;
  background-color: #07385ef4;
  color: #333;
  justify-content: center;
  left: 0%;
}

h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #161414;
}

footer {
  margin: 0.5rem auto;
  display: flex;
  grid-template-rows: 200px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 2000px;
  margin-top: 1px;
  background-color: rgb(20, 45, 94);
  justify-content: space-evenly;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Create three equal columns */
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 500px;
  justify-content: space-evenly;
}

nav {
  display: flex;
  list-style: none;
}


#adventure {
  justify-content: space-around;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  margin-top: -1%;
}

#advent h2 {
  position: relative;
  display: flex;
  justify-content: center;
  color: #04104d;
  align-items: center;
  text-align: center;
  margin-top: 15%;
}

#adventu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: -3%;
}

#adventure h6 {
  color: #000000;
}

/*-------------------------------*/

form {
  width: 500px;
  margin: 0 auto;
  padding: 1rem;
  border: 3px solid rgba(17, 93, 160, 0.81);
  border-radius: 0.5rem;
  background-color: #2b8dab;
  display: grid;
  color: #ffffff;
}

fieldset {
  display: grid;
  grid-gap: 0.2rem;
  margin: 1rem;
  border: 1px solid rgba(1, 87, 60, 0.961);
  padding: 1rem;
  border-radius: 0.8rem;
}

legend {
  padding: .5rem;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  margin-left: 36%;
}

label, input, select, textarea {
  font-family: Roboto, arial, sans-serif;
  position:relative;
}

label {
  text-align: left;
  padding: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border-color: #07430961;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.8rem;
  background-color: rgba(10, 71, 136, 0.517);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 180px;
  margin-left: 30%;
  border: 1px #ffffff;
}

button :hover {
  color: rgb(77, 81, 155);;
  background-color: rgb(77, 81, 155);
}

.form-item {
  display: grid;
  align-items: center;
}

#text {
  margin-left: 25%;
  font-size: larger;
}

/*_________________________*/
.box {
  margin: 0.8rem;
  padding: 0.5rem;
  border: 1px solid #3d6ba857;
  background-color: #39789cd1;
  color: #333;
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  align-items: center;
  width: 16.3rem;
  height: 22.5rem;
  border-radius: 0.7rem;
}

.box button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0rem;
  background-color: rgba(6, 40, 133, 0.563);
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  width: 89px;
  margin-left: 3%;
  border: 1px #ffffff;
}

#boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(42, 134, 165);
  border-bottom: 1px solid rgb(42, 134, 165);
}
#boxes2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(42, 134, 165);
}

#title h1 {
  justify-content: center;
  margin: 0.2rem;
  margin-top: 45rem;
  position: relative;
  top: 0;
  left: 91.8%;
  transform: translate(-50%, -50%);
  color: rgb(6, 61, 87);
  font-size: 36px;
}


#h{
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  position: relative;
  left: 88%;
  transform: translate(-50%, -50%);
  color: rgb(6, 61, 87);
  font-size: 36px;
}

#advents h2 {
  position: relative;
  display: flex;
  justify-content: center;
  color: #04104d;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

main {
  margin-top: -40%;
}
/*-------------------Trip Infos---------------------*/
#tripin {
  position: relative;
  display: block;
  width: 1000px;
  margin: 20px auto;
  margin-top: 3%;
  border: 1px solid #7ab7d11d;
  padding: 10px;
  background-color: #566067;
  color: #333;
  justify-content: center;
  left: 0%;
  border-radius: 1.5rem;
}

/*------------------Table Sumary--------------------*/
table,
td {
  border: 2px solid #333333;
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #3d3d3d;
  color: #fff;
}

th, td {
  padding: 0.5rem;
}

caption {
  font-weight: 700;
  font-size:larger;
  color: navy;
  font-variant: small-caps;
}
/*------------------------------------*/


